.not-found {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 10;
  h2 {
    color: #ffffff;
    font-size: 25px;
  }
  p {
    color: rgb(214, 241, 248);
    font-size: 20px;
  }
}
