a {
  text-decoration: none;
  color: #111;
}
header {
  width: 90%;
  margin: 15px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-block: 50px;
  margin-bottom: 80px;
  gap: 30px;
  color: #ffffff;
  .header-name {
    font-size: 28px;
    font-family: serif;
    font-weight: bold;
  }
  span {
    font-size: 18px;
    font-weight: 500;
  }
}

.paginated-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .user-card {
    min-width: 19.5vw;
    max-width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px;
    margin: 10px;
    margin-bottom: 59px;
    border: 1px solid #ccc;
    background-color: aliceblue;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    div {
      position: relative;
      top: -26px;
    }
    button {
      width: 100%;
      background-color: #131c2b;
    }
    button:hover {
      background-color: #1b273d;
    }
  }
}

.user-card:hover {
  transform: scale(1.05);
}

.user-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
  top: -59px;
  border: 1px solid #ccc;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-id {
  font-size: 14px;
  color: #666;
}

/* Animation for loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
mat-spinner::ng-deep circle {
  stroke: aliceblue;
}

/* Animation for search input */
.search-input {
  max-width: 400px;
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  transition: max-width 0.3s ease;
}

.search-input:focus {
  max-width: 500px;
}
