<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div *ngIf="user" class="user-details-container">
  <div class="user-info">
    <div class="avatar">
      <img [src]="user.avatar" alt="User Avatar" />
    </div>
    <div class="details">
      <div class="name">
        <p><strong>First Name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
      </div>
      <div class="info">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>ID:</strong> {{ user.id }}</p>
      </div>
    </div>
  </div>

  <div class="back-button">
    <button mat-icon-button color="primary" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
  </div>
</div>

<div *ngIf="!user && !isLoading">
  <div class="not-found">
    <h2>User not found</h2>
    <p>The requested user could not be found.</p>
  </div>
</div>
